@(page3: Form[models.feedbackSurveyModels.AboutService])(implicit request: Request[_], messages: play.api.i18n.Messages)

@import play.twirl.api.Html
@import views.helpers._
@import views.html.helpers._
@import models.feedbackSurveyModels._

@uk.gov.hmrc.feedbacksurveyfrontend.views.html.main_template(title = "feedbackSurvey.giveFeedBackPageTitle.page3.question1", bodyClasses = None, langReturnUrl = request.uri) {
  @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.backLink("back",controllers.routes.FeedbackSurveyController.usingService.url, true, "generic.back")(messages)
  <h1 id="serviceReceived" class="heading-large">@Messages("feedbackSurvey.page3.question1")</h1>
  @uk.gov.hmrc.play.views.html.helpers.form(action = controllers.routes.FeedbackSurveyController.aboutServiceContinue){
    <div class="form-group">
      @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.inputTypeRadioGroup(
        InputTypeRadioGroupParams(
          page3("serviceReceived"),
          formFields.page3Question1Options,
          legend = "feedbackSurvey.page3.question1",
          legendClass = "visuallyhidden",
          legendId = "serviceReceived"))
    </div>
    @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.submitButton("generic.continue")(id = "save-and-continue", classAttr = "button")
  }
}
