@import views.helpers._
@import views.html.helpers._
@import models.feedbackSurveyModels._
@import uk.gov.hmrc.renderer.TemplateRenderer


@(page4: Form[models.feedbackSurveyModels.RecommendService])(implicit request: Request[_], messages: play.api.i18n.Messages, templateRenderer: TemplateRenderer)

@uk.gov.hmrc.feedbacksurveyfrontend.views.html.main_template(
  title = "feedbackSurvey.giveFeedBackPageTitle.page4.question1",
  backlinkUrl = controllers.routes.FeedbackSurveyController.aboutService.url
) {
  <h1 id="recommendRating" class="heading-large">@Messages("feedbackSurvey.page4.question1")</h1>
  @uk.gov.hmrc.play.views.html.helpers.form(action = controllers.routes.FeedbackSurveyController.recommendServiceContinue){
    <div class="form-group">
      @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.inputTypeRadioGroup(
        InputTypeRadioGroupParams(
          page4("recommendRating"),
          formFields.page4Question1Options,
          legend = "feedbackSurvey.page4.question1",
          legendClass = "visuallyhidden",
          legendId = "recommendRating"))
    </div>

    <h2 id="reasonForRatingHeader" class="heading-large">@Messages("feedbackSurvey.page4.question2")</h2>
    @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.textBox(page4("reasonForRating"),
      '_id -> "reasonForRating",
      '_maxLength -> "1000",
      '_showConstraints -> false,
      '_labelHint -> Messages("feedbackSurvey.page4.question2.labelhint"),
      '_labelHintId -> "labelHint",
      '_legend -> "reasonForRating",
      '_legendHidden -> true)
    @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.submitButton("generic.continue")(id = "save-and-continue", classAttr = "button")
  }
}
