@(page1: Form[models.awrsModels.Page1],
callbackServiceUrl: String,
serviceTitle: String,
originService:String
)(implicit request: Request[_], messages: Messages)

@import play.twirl.api.Html
@import views.helpers._
@import views.html.helpers._
@import models._

@uk.gov.hmrc.feedbacksurveyfrontend.views.html.main_template(title = Messages("awrslookup.giveFeedBackPageTitle", Messages("awrslookup.page1.question1")), bodyClasses = None, serviceTitle = serviceTitle) {
    <h1 id="title" class="heading-large">@Messages("awrslookup.page1.title")</h1>
    <p id="intro">@Messages("awrslookup.page1.para1")</p>
    @uk.gov.hmrc.play.views.html.helpers.form(action = controllers.routes.AwrsLookupController.page1Continue(originService)){
        <div class="form-group">
            @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsInputTypeRadioGroup(
                InputTypeRadioGroupParams(
                    page1("ableToDoWhatNeeded"),
                    Seq("Yes" -> Messages("generic.yes"),"No" -> Messages("generic.no")),
                    legend = Messages("awrslookup.page1.question1"),
                    legendClass = "heading-medium",
                    legendId = "ableToDoWhatNeeded",
                    fieldSetClass = "inline"
                )
            )
        </div>
        @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsSubmitButton(Messages("generic.continue"))(id = "save-and-continue", classAttr = "button")
    }
    @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.returnToService(callbackServiceUrl, Messages("awrslookup.backToSearch"))(messages)
}
