@(page3: Form[models.awrsModels.Page3],
callbackServiceUrl: String,
serviceTitle: String = "",
originService : String
)(implicit request: Request[_], messages: Messages)

@import play.twirl.api.Html
@import views.helpers._
@import views.html.helpers._
@import models.awrsModels._

@uk.gov.hmrc.feedbacksurveyfrontend.views.html.main_template(title = Messages("awrslookup.giveFeedBackPageTitle", Messages("awrslookup.page3.question1")), bodyClasses = None) {
    @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.backLink("back",controllers.routes.FeedbackSurveyController.page2(originService).url, true, Messages("generic.back"))(messages)
    <h1 id="serviceReceived" class="heading-large">
        <span class="heading-secondary" id="giveFeedback">@Messages("awrslookup.giveFeedBack")</span>
        @Messages("awrslookup.page3.question1")
    </h1>
    @uk.gov.hmrc.play.views.html.helpers.form(action = controllers.routes.FeedbackSurveyController.page3Continue(originService)){
        <div class="form-group">
            @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsInputTypeRadioGroup(
                InputTypeRadioGroupParams(
                    page3("serviceReceived"),
                    formFields.page3Question1Options,
                    legend = Messages("awrslookup.page3.question1"),
                    legendClass = "visuallyhidden",
                    legendId = "serviceReceived"
                )
            )
        </div>
        @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsSubmitButton(Messages("generic.continue"))(id = "save-and-continue", classAttr = "button")
    }
    @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.returnToService(callbackServiceUrl, Messages("awrslookup.backToSearch"))(messages)
}
