@(page3: Form[models.awrsModels.Page3])(implicit request: Request[_], messages: Messages)

@import play.twirl.api.Html
@import views.helpers._
@import views.html.helpers._
@import models.awrsModels._

@uk.gov.hmrc.feedbacksurveyfrontend.views.html.main_template(title = Messages("awrslookup.giveFeedBack", Messages("awrslookup.page3.question1")), bodyClasses = None) {
    @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.backLink(controllers.routes.AwrsLookupController.page2.url, true)(messages)
    @uk.gov.hmrc.play.views.html.helpers.form(action = controllers.routes.AwrsLookupController.page3Continue){
        <div class="form-group">
            @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsInputTypeRadioGroup(
                InputTypeRadioGroupParams(
                    page3("serviceReceived"),
                    formFields.page3Question1Options,
                    legend = Messages("awrslookup.page3.question1"),
                    legendClass = "heading-medium",
                    legendId = "title",
                    fieldSetAttributes = "id=additionalPremises_field"
                )
            )
        </div>
        @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsSubmitButton(Messages("generic.continue"))(id = "save-and-continue", classAttr = "button")
    }
}
