@(page4: Form[models.awrsModels.Page4])(implicit request: Request[_], messages: Messages))

@import play.twirl.api.Html
@import views.helpers._
@import views.html.helpers._
@import models.awrsModels._

@uk.gov.hmrc.feedbacksurveyfrontend.views.html.main_template(title = Messages("feedback.page_title"), bodyClasses = None) {
    <div class="form-group">
        @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsInputTypeRadioGroup(
            InputTypeRadioGroupParams(
                page4("page4.question1"),
                formFields.page4Question1Options,
                legend = Messages("awrslookup.page4.question1"),
                legendClass = "heading-medium",
                fieldSetAttributes = "id=additionalPremises_field"
            )
        )
    </div>
    <div class="form-group">
        @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsTextBox(page4("reasonForRating"),
            '_label -> Html(Messages("awrslookup.page4.question2")),
            '_id -> "reasonForRating",
            '_maxLength -> "2500",
            '_showConstraints -> false,
            '_labelHighlight -> true,
            '_labelHint -> Messages("awrslookup.page4.question2.labelhint")
        )
    </div>
}
