@(page4: Form[models.awrsModels.Page4],
callbackServiceUrl: String,
serviceTitle: String
)(implicit request: Request[_], messages: Messages)

@import play.twirl.api.Html
@import views.helpers._
@import views.html.helpers._
@import models.awrsModels._

@uk.gov.hmrc.feedbacksurveyfrontend.views.html.main_template(title = Messages("awrslookup.page4.question1"), bodyClasses = None, serviceTitle = serviceTitle) {
    @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.backLink("back", controllers.routes.AwrsLookupController.page3.url, true, Messages("generic.back"))(messages)
    @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.backLink("backToSearch", callbackServiceUrl, true, Messages("awrslookup.backToSearch"))(messages)
    @uk.gov.hmrc.play.views.html.helpers.form(action = controllers.routes.AwrsLookupController.page4Continue){
        <div class="form-group">
            @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsInputTypeRadioGroup(
                InputTypeRadioGroupParams(
                    page4("recommendRating"),
                    formFields.page4Question1Options,
                    legend = Messages("awrslookup.page4.question1"),
                    legendClass = "heading-large",
                    legendId = "recommendRating"
                )
            )
        </div>
        <div class="form-group">
            @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsTextBox(page4("reasonForRating"),
                '_label -> Html(Messages("awrslookup.page4.question2")),
                '_id -> "reasonForRating",
                '_maxLength -> "2500",
                '_showConstraints -> false,
                '_labelHighlight -> true,
                '_labelHint -> Messages("awrslookup.page4.question2.labelhint")
            )
        </div>
        @uk.gov.hmrc.feedbacksurveyfrontend.views.html.helpers.awrsSubmitButton(Messages("generic.continue"))(id = "save-and-continue", classAttr = "button")
    }
}
