@(pageTitle: String, heading: String, message: String)(implicit request: Request[_], messages: play.api.i18n.Messages)

@contentHeader = {
  <h1>@Messages(heading)</h1>
}

@mainContent = {
  <p>@Messages(message)</p>
}

@linkElement = {
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/custom.css")'/>
}

@govuk_wrapper(appConfig = uk.gov.hmrc.feedbacksurveyfrontend.FrontendAppConfig,
  title = Messages(pageTitle),
  contentHeader = Some(contentHeader),
  mainContent = mainContent,
  linkElement = Some(linkElement))
