@import uk.gov.hmrc.renderer.TemplateRenderer
@import uk.gov.hmrc.play.views.html.layouts
@import uk.gov.hmrc.feedbacksurveyfrontend.FrontendAppConfig
@import uk.gov.hmrc.feedbacksurveyfrontend.LocalPartialRetriever

@(pageTitle: String, heading: String, message: String)(implicit request: Request[_], messages: play.api.i18n.Messages, templateRenderer: TemplateRenderer)

@mainContent = {
  <h1 class="heading-large">@Messages(heading)</h1>
  <p id="intro">@Messages(message)</p>
}

@{
  templateRenderer.renderDefaultTemplate(
    FrontendAppConfig.frontendTemplatePath,
    layouts.article(mainContent, false, None), Map[String, Any](
      "pageTitle" -> Messages(pageTitle),
      "navTitle" -> Messages("feedbackSurvey.giveFeedBack"),
      "hideAccountMenu" -> true,
      "linkElems" -> Map(
        "url" -> routes.Assets.versioned("stylesheets/custom.css")
      ),
      "includeHMRCBranding" -> true,
      "isWelsh" -> messages.lang.code.equals("cy"),
      "getHelpForm" -> LocalPartialRetriever.getPartialContent(FrontendAppConfig.reportAProblemPartialUrl)
    )
  )
}
