@(title: String,
  serviceTitle: String = "Give Feedback",
  pageScripts: Option[Html] = None,
  sidebarLinks: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  userLoggedIn: Boolean = false,
  langReturnUrl: Option[String] = None,
  scriptElem: Option[Html] = None)(mainContent: Html)(implicit request : Request[_], messages: play.api.i18n.Messages)

@import uk.gov.hmrc.play.views.html.layouts
@import uk.gov.hmrc.urls.Link

@serviceInfoContent = {}

@sidebar = {
  @if(sidebarLinks.isDefined) {
   @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
  }
}

@linkElement = {
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/custom.css")'/>
}

@scriptElement = {
  @scriptElem

  @if(uk.gov.hmrc.feedbacksurveyfrontend.FrontendAppConfig.analyticsToken == "N/A") {
    <script type="text/javascript">
      var ga = function(send, event, category, action, label, args) {
        console.log(JSON.stringify({
          call: 'ga',
          send: send,
          event: event,
          category: category,
          action: action,
          label: label
        }));

        if (typeof args['hitCallback'] === 'function' ) {
          args['hitCallback']();
        }
      };
    </script>
  }


  @pageScripts
  <script type="text/javascript" src='@routes.Assets.at("javascripts/feedback.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/gaTracking.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.min.js")'></script>
  <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-ui.min.js")'></script>
}

@contentHeader = {
  @langReturnUrl.map { url =>
    <div class="lang-select">
      @if(messages.lang == Lang("cy")) {
        @Link.toInternalPage(
          url=controllers.routes.LanguageController.enGb(url).toString(),
          value=Some(Messages("label.english")),
          id=Some("switch-to-english"),
          cssClasses=Some("ga-track-event"),
          dataAttributes=Some(Map(
            "ga-event-category" -> "link - click",
            "ga-event-action" -> "lang-select",
            "ga-event-label" -> "English"))
          ).toHtml
        | @Messages("label.welsh")
      } else {
        @Messages("label.english") |
        @Link.toInternalPage(
          url=controllers.routes.LanguageController.cyGb(url).toString(),
          value=Some(Messages("label.welsh")),
          id=Some("switch-to-welsh"),
          cssClasses=Some("ga-track-event"),
          dataAttributes=Some(Map(
            "ga-event-category" -> "link - click",
            "ga-event-action" -> "lang-select",
            "ga-event-label" -> "Cymraeg"))
          ).toHtml
      }
    </div>
  }
}

@govuk_wrapper(
  appConfig = uk.gov.hmrc.feedbacksurveyfrontend.FrontendAppConfig,
  title = Messages(title),
  serviceTitle = serviceTitle,
  mainClass = mainClass,
  bodyClasses = bodyClasses,
  sidebar = sidebar,
  contentHeader = Some(contentHeader),
  mainContent = layouts.article(mainContent),
  serviceInfoContent = serviceInfoContent,
  scriptElem = Some(scriptElement),
  linkElement = Some(linkElement))
