@import uk.gov.hmrc.renderer.TemplateRenderer
@import uk.gov.hmrc.play.views.html.layouts
@import uk.gov.hmrc.renderer._
@import uk.gov.hmrc.renderer.TemplateArgumentsBuilder._


@(title: String,
  serviceTitle: Option[String] = None,
  userLoggedIn: Boolean = false,
  backlinkUrl: Option[String] = None,
  backlinkUrlText: Option[String] = None,
  scriptElement: Option[Html] = None)(mainContent: Html)(implicit request : Request[_], messages: play.api.i18n.Messages, templateRenderer: TemplateRenderer)

@inlineScript = {

  @scriptElement

  @if(uk.gov.hmrc.feedbacksurveyfrontend.FrontendAppConfig.analyticsToken == Some("N/A")) {
    <script type="text/javascript">
      var ga = function(send, event, category, action, label, args) {
        console.log(JSON.stringify({
          call: 'ga',
          send: send,
          event: event,
          category: category,
          action: action,
          label: label
        }));

        if(args && typeof args !== 'undefined' && typeof args['hitCallback'] === 'function') {
          var hitCallback = args['hitCallback'];
          hitCallback();
        }

      };
    </script>
  }
}

@{

  val arguments = TemplateArgumentsBuilder(
    Some(PageTitleComponent(Messages(title) +
      " - " + Messages("feedbackSurvey.giveFeedBack") +
      " - " + Messages("feedbackSurvey.gov.uk")
    )),
    Some(NavTitleComponent(Messages("feedbackSurvey.giveFeedBack"))),
    Some(AccountMenuStyleComponent(
      langUrls = Some((
        controllers.routes.LanguageController.enGb(request.uri).url,
        controllers.routes.LanguageController.cyGb(request.uri).url
      )),
      hideAccountMenu = true
    )),
    Some(CssLinksComponent(
      CssLinkElement(controllers.routes.Assets.versioned("stylesheets/custom.css").url)
    )),
    Some(ScriptsComponent(
      controllers.routes.Assets.versioned("javascripts/feedback.js").url,
      controllers.routes.Assets.versioned("javascripts/gaTracking.js").url,
      controllers.routes.Assets.versioned("javascripts/jquery.min.js").url,
      controllers.routes.Assets.versioned("javascripts/jquery-ui.min.js").url
    )),
    Some(InlineScriptComponent(inlineScript.toString)),
    Some(GetHelpFormComponent(uk.gov.hmrc.feedbacksurveyfrontend.LocalPartialRetriever.getPartialContent(uk.gov.hmrc.feedbacksurveyfrontend.FrontendAppConfig.reportAProblemPartialUrl))),
    uk.gov.hmrc.feedbacksurveyfrontend.FrontendAppConfig.analyticsToken.filter(_ != "N/A").map { trackingId =>
      GoogleAnalyticsComponent(
        trackingId,
        Some(uk.gov.hmrc.feedbacksurveyfrontend.FrontendAppConfig.analyticsHost)
      )
    },
    uk.gov.hmrc.feedbacksurveyfrontend.FrontendAppConfig.deskproToken.map(BetaBannerComponent(_)),
    backlinkUrl.map { url =>
      BackLinkUrlComponent(
        url,
        backlinkUrlText.map(_.toString)
      )
    }
  )

  templateRenderer.renderDefaultTemplate(layouts.article(mainContent, false, None), arguments)

}
