@(params: views.helpers.InputTypeGroupCheckboxParams)(implicit messages: play.api.i18n.Messages, formInstance: Option[Form[_]] = None)

@import views.html.helper._
@import views.helpers._
@import forms.validation.util._

@fieldErrors = @{
  ErrorMessageInterpreter.getFieldErrors(params.field)
}

@fieldSetClass = @{
  Html((params.fieldSetClass, fieldErrors.nonEmpty) match {
    case (None, false) => ""
    case (Some(""), false) => ""
    case (Some(fieldSetClass), false) => " class=\"" + fieldSetClass + "\" "
    case (Some(fieldSetClass), true) => " class=\"" + fieldSetClass + " form-field--error" + "\" "
    case (None, true) => " class=form-field--error "
  })
}

@fieldSetAttributes = @{
  params.fieldSetAttributes match {
    case Some(fieldSetAttributes) => " " + fieldSetAttributes + " "
    case _ =>
  }
}

@legendClass = @{
  Html(params.legendClass match {
    case Some(legendClass) => "class=\"" + legendClass + "\""
    case _ => ""
  })
}

@legendAttributes = @{
  params.legendAttributes match {
    case Some(legendAttributes) => legendAttributes
    case _ => ""
  }
}

@legend = {
  @params.legend match {
    case Some(legend) => {
      <legend id="@(params.legendId)_legend" @legendClass @legendAttributes>@Messages(legend)</legend>
    }
    case _ => {}
  }
}

@formHintId = @{
  Html(params.formHintId match {
    case Some(formHintId) => "id=\"" + formHintId + "\""
    case _ => ""
  })
}

@formHint = {
  @params.formHint match {
    case Some(formHint) => {
        <p @formHintId>@Messages(formHint)</p>
    }
    case _ => {}
  }
}

@inputName = @{
  Html("name=\"" + params.field.name +
    (params.checkboxOptions.length match {
      case 1 => "\""
      case _ => "[]\""
    })
  )
}

@inputId(append: String) = @{
  params.overrideInputId match {
    case Some(overrideInputId) => overrideInputId
    case _ => params.legendId.get + "_" + append
  }
}

@commonHelper(params.field, fieldErrors)
@formHint
<fieldset @fieldSetClass @fieldSetAttributes @if(fieldErrors.nonEmpty){aria-labelledby="@params.field.name-error-0"}>
  @legend
  @defining(params.field.indexes.flatMap(i => params.field("[%s]".format(i)).value).toSet) { values =>
    @params.checkboxOptions.map {
      case (checkboxValue, checkboxLabel, checkboxClass) => {
        <label for="@(inputId(checkboxValue))" class="block-label" id="@(inputId(checkboxValue))_label">
          <input class="@checkboxClass" type="checkbox" id="@(inputId(checkboxValue))" @inputName value="@checkboxValue" @if(values.contains(checkboxValue)){checked="checked"}>
          @Messages(checkboxLabel)
        </label>
      }
    }
  }
</fieldset>
